{
  "worker_addrs": [
    "127.0.0.1:50000",
    "127.0.0.1:50001",
    "127.0.0.1:50002"
  ],
  "algorithm": "ring_all_reduce",
  "dataset": {
    "src": {
      "local": {
        "samples_path": "data/samples.csv",
        "labels_path": "data/labels.csv"
      }
    },
    "x_size": 2,
    "y_size": 1
  },
  "optimizer": { "gradient_descent": { "lr": 0.01 } },
  "loss_fn": "mse",
  "batch_size": 4,
  "max_epochs": 500,
  "offline_epochs": 0,
  "seed": 42
}