# Build output
/target/

# Editor settings
*.swp
.idea/
.vscode/

# OS metadata
.DS_Store

# Environment files
.env
.venv

# Added by cargo
/target

# Docker compose files
*compose*.yml

# Local dev scripts and configs
*.csv

# Logs
*.log
temp/

# Python build artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyd
*.pyo
wheels/
dist/
build/

# Compiled Python extensions (maturin output)
*.so

# Generated compose files
compose.yml